endpoint_add_tcp "0.0.0.0:30120"
endpoint_add_udp "0.0.0.0:30120"

### Endpoints Privacy ###
sv_endpointPrivacy true
sv_hostname "SUPV template ESX-Legacy OX"
set steam_webApiKey ""
sv_licenseKey ""
sv_maxclients 8   # Allow access to features usually locked behind a FiveM patreon key

sets sv_projectName "SUPV template ESX-Legacy OX"
sets sv_projectDesc ""
sets locale "fr-FR"
setr ox:locale fr
sets tags "SUPV template ESX-Legacy OX"
sv_scriptHookAllowed 0
set sv_enforceGameBuild 2802

# set onesync on #(ACTIVE IT IF YOU DON'T USE TX ADMIN!!!)

#### Connection SQL !!!
# root = database user 
# abc123 = database password
# localhost = ip database (if your port isn't 3306 so use like it : ip:port.. so if you are localhost : localhost:port or 127.0.0.0:port)
# esx-legacy = name of your database
set mysql_connection_string "mysql://root:abc123@localhost/esx-legacy?waitForConnections=true&charset=utf8mb4"
set mysql_ui true

## Add system admins
add_ace group.admin command allow # allow all commands
add_ace group.admin command.quit deny # but don't allow quit
add_ace resource.es_extended command.add_ace allow
add_ace resource.es_extended command.add_principal allow
add_ace resource.es_extended command.remove_principal allow
add_ace resource.es_extended command.stop allow

ensure oxmysql
ensure start # ne pas retirez ceci sert a executer le resources.cfg si il n'y a pas d'erreur sur la version de votre artifacts / onesync / connection sql
# Don't remove `ensure start`, you need it to execute resources.cfg, this resource check if you got some error like (artifacts outdate / onesync off / not connected to mysql) 

# VEUILLEZ NE PAS START DE RESSOUCE ICI!!! ALLEZ LES START DANS resources.cfg
# DON'T START RESOURCE HERE, START THEM IN resources.cfg

#svgui # vous pouvez utilisez ceci si votre système d'exploitation est windows